@font-face {
    font-family: Pathway; 
    src: url(../fonts/PathwayGothicOne-Regular.ttf); 
 }
 
 body {
    background: url(../images/bg-body.jpg) #d6bba0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
	font-family: Pathway, 'Myriad Pro Regular';
/*	overflow-x: hidden; */
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
}

header, nav, ul, article, acide {
    max-width: 100%;
}


nav {
	margin: 0 auto;
	width: 870px;
	max-width: 870px;
}

nav ul {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
	padding-left: 0px;
}

nav li {
	display: inline;
    padding-left: 60px;
    padding-right: 50px;
	display: table-cell;
    vertical-align: middle;
}

#firstli {
	padding-left: 0;
}

#lastli {
	padding-right: 0;
}



.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

header a {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    color: black;
}



.content {
    max-width: 1270px;
	min-width: 870px;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: 5%;
    max-width: 100%;
}

#main-slide {

    max-width: 1126px;
    margin: 0 auto;
	max-width: 100%;
}

#main-slide img {
    max-width: 100%;
}

.block1-title {
    font-size: 38px;
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 60px;
}

.slide-block {							
	max-width: 100%;
	max-height: 337px;
}



.top-slides  img {
	max-width: 32%;
	padding-right:2%;
	float:left;
}

#third-slide img {
	padding: 0;
}



div.top-slides :hover  div.news-details {
	display: block;
	z-index: 5;
}

.news-details {
	display: none;
	background: #889;
	color: white;
	max-width: 80%;
}

article {
	width: 68%;
	height: 500px;
	border: 1px solid #dedbdb;
	margin: 70px 25px 0 0;
	float:left;
}

section {
	height: 50%;
	max-width: 100%;
}

article img {
	max-width: 100%;
}

.inf-img {
	padding: 2% 0 2% 2%;
	width: 35%;
	float:left;
}

section .inf-text {
	font: normal, 13pt, Arial Regular, sans-serif; 
	width: 57%;
	height: 57%;
	padding: 2% 3% 2% 3%;
	float: left;
}

aside {	
	border: 1px solid #dedbdb;
	width: 28%;
	height: 500px;
	margin: 70px 0 0 0;
	float: right;
}

#aside-title {
    text-align:center;
}

footer .social-netw-icons {
	text-align: center;
}

footer .social-netw-icons a {
    display: inline-block;
}

footer .social-netw-icons img {
	padding: 25px 7px 25px 0;
	width: 46px;
}


.social-netw-icons  a:hover {
	opacity:0.5;
}





